@using Bookmyhome.Application.Command.Interfaces;
@using Bookmyhome.Domain.Models;

@inject IBoligCommand BoligCommandService
@inject IAdresseCommand AdresseCommandService
@inject IPostnummerOgByCommand PostnummerCommandService
@inject IBrugerCommand BrugerCommandService

@rendermode InteractiveServer

@page "/AddBoligPage"

<h3>AddBoligPage</h3>

@code {
	[Inject]
	public IBoligCommand IBoligService { get; set; }

	[Inject]
	public IAdresseCommand IAdresseService { get; set; }

	[Inject]
	public IPostnummerOgByCommand IPostnummerService { get; set; }

	[Inject]
	public IBrugerCommand IBrugerService { get; set; }

	private List<PostnummerOgBy> _PostnummerList = new List<PostnummerOgBy>();

	private Bruger _bruger;

}
