@using Bookmyhome.Application.Command.Interfaces;
@using Bookmyhome.Domain.Models;
@inject NavigationManager navigationManager;

@rendermode InteractiveServer

<h3>IndividualBrugerPage</h3>

@page "/IndivudualBrugerPage/{Brugerid:int}"

<table class="table table-primary">
    <tr>
		<th>ID</th>
		<th>Navn</th>
		<th>tlf</th>
    </tr>
	<tr>
		<td>@bruger.BrugerID</td>
		<td>@bruger.Fornavn @bruger.Efternavn</td>
		<td>@bruger.TelefonNummer</td>
	</tr>
</table>


<button class="btn btn-primary" @onclick="() => NavigateToAddBoligPage(id)">Tilføj bolig</button>


@code {

	[Parameter]
	public int BrugerId { get; set; }

	[Inject]
	public IBrugerCommand ibrugerCommand { get; set; }

	private int id;

	private Bruger bruger;

	protected override void OnInitialized()
	{
		bruger = ibrugerCommand.GetBruger(BrugerId);
		id = bruger.BrugerID;
	}

	private void NavigateToAddBoligPage(int id)
	{
		navigationManager.NavigateTo($"/AddBoligPage/{id}");
		Console.WriteLine("NavigateToAddBoligPage called..");
	}
}
